<h1>Update Lecture</h1>

<%= form_with url: conference_lecture_path, scope: :lecture, method: :put do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :duration %><br>
    <%= form.select :duration, [60, 45, 30, 5] %>
  </p>
  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>